.container {
  width: 100%;
  margin-top: 100px;
  .wrapper {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 20px;

    // * Media with text
    .greeting {
      margin: 50px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      .media {
        img {
          width: 100%;
          height: auto;
        }
      }
      .text {
        width: 550px;
        margin-left: 30px;
        padding: 0 20px;
        text-align: center;
        font-size: 64px;
        line-height: 70px;
        @media (max-width: 1131px) {
          margin: 20px 0 0 0;
          align-self: center;
        }
        @media (max-width: 390px) {
          font-size: 48px;
          line-height: 50px;
        }
      }
    }

    // * Tests Cards
    .cards {
      margin-top: 100px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 5%;
      .card {
        margin-top: 50px;
        .banner {
          img {
            width: 100%;
            height: auto;
            border-radius: 20px 20px 0 0;
          }
        }
        .numerations {
          border-radius: 0 0 20px 20px;
          background-color: #d9d9d9;
          display: flex;
          justify-content: space-around;
          padding: 15px 0;
          .num {
            cursor: pointer;
            font-size: 20px;
            border: 2px solid #8ea4f4;
            border-radius: 5px;
            padding: 5px;
            text-align: center;
          }
        }
      }
    }

    // * News
    .news {
      margin: 100px 0 20px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      .card {
       cursor: pointer;
        display: flex;
        flex-direction: column;
        .newsBanner {
          img {
            border-radius: 20px 20px 0 0;
            width: 100%;
            height: auto;
          }
        }
        .title {
          border-radius: 0 0 20px 20px;
          padding: 25px;
          text-align: center;
          font-size: 34px;
          background-color: #d9d9d9;
          @media (max-width: 490px) {
            font-size: 24px;
          }
        }
      }
    }
  }
}
