.container{
    margin-top: 200px;
    width: 100%;
    background: rgb(255,245,215);
    background: linear-gradient(180deg, rgba(255,245,215,0) 0%, rgba(248,197,47,1) 100%);
    .footer{
        display: flex;
        flex-wrap: wrap;
        padding: 20px 50px;
        justify-content: space-around;
        .logo{
            align-self: center;
            color: #8EA4F4;
            font-size: 40px;
            font-weight: 500;
            margin-top: -50px;
        }
        .menu {
            @media (max-width: 1080px) {
                margin-top: 20px;
            }
            flex-wrap: wrap;
            display: flex;
           .card{
            display: flex;
            max-width: 220px ;
            flex-direction: column;
            margin: 0 40px;
            @media (max-width: 764px) {
                margin-bottom: 20px;
            }
            .title{
                font-weight: 600;
                font-size: 20px;
                margin-bottom: 10px;
            }
            ol{
                font-weight: 200;
                font-size: 16px;
                line-height: 25px;
            }
           }
        }
    }
    .copyright{
        text-align: center;
        letter-spacing: 10px;
        font-weight: 100;
    }
}