.container {
  width: 100%;
  margin-top: 100px;
  .wrapper {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 20px;

    // * Media with text
    .greeting {
      margin: 50px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      .media {
        @media (max-width: 973px) {
          margin-top: 25px;
        }
        img {
          width: 100%;
          height: auto;
        }
      }
      .text {
        width: 550px;
        padding: 0 20px;
        text-align: center;
        font-size: 64px;
        line-height: 70px;
        @media (max-width: 1131px) {
          margin: 20px 0 0 0;
          align-self: center;
        }
        @media (max-width: 390px) {
          font-size: 48px;
          line-height: 50px;
        }
      }
    }
    .cards {
      margin-top: 100px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 5%;
      .card {
        cursor: pointer;
        h1 {
          max-width: 400px;
          position: relative;
          top: 50%;
          text-align: center;
          margin: 0 auto;
          z-index: 9999999;
          font-weight: 500;
          font-size: 32px;
          @media (max-width: 450px) {
            font-size: 7vw;
          }
        }
        img {
          opacity: 0.7;
          width: 100%;
          height: auto;
          border-radius: 20px;
        }
      }
    }
    .tests{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .testsCard{
      cursor: pointer;
      display: flex;
      flex-direction: column;
      .banner{
        img{
          border-radius: 20px 20px 0 0;
          width: 100%;
          height: auto;
        }
      }
      .title{
        text-align: center;
        padding: 10px 15px;
        font-size: 32px;
        line-height: 60px;
        background-color: #D9D9D9;
        border-radius: 0 0 20px 20px;
        @media (max-width:336px) {
          font-size: 28px;
        }
      }
    }
    }
  }
}
