.container {
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  .wrapper {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    @media (max-width: 768px) {
      padding: 0 30px;
    }
    .firstBox {
      display: flex;
      align-self: center;
    }
    .secondBox {
      display: flex;
      margin-top: 80px;
      align-self: center;
      .media {
        order: 2;
      }
      .description {
        order: 1;
      }
    }
  }
}
.media {
  .img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
}
.description {
  font-size: 40px;
  font-weight: 200;
  text-align: center;
  align-self: center;
  max-width: 400px;
  @media (max-width: 650px) {
    font-size: 32px;
  }
  @media (max-width: 375px) {
    font-size: 28px;
    margin: 0 5px;
  }
}
