.container {
  width: 100%;
  margin-top: 100px;
  .wrapper {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 20px;
    .commentSection {
      display: flex;
      flex-direction: column;
      .text {
        text-align: center;
        font-size: 48px;
        font-weight: 700;
        margin: 50px 0;
      }
      .comment {
        display: flex;
        padding: 0 50px;
        @media (max-width:450px) {
          padding: 0 30px;
        }
        justify-content: space-around;
        @media (max-width: 700px) {
          flex-direction: column;
        }
      }
      .feedback {
        align-self: center;
        width: 500px;
        display: flex;
        flex-direction: column;
        @media (max-width: 1190px) {
          margin-right: 20px;
        }
        @media (max-width: 700px) {
          order: 2;
          margin: 50px 0 0 0;
          width: 70vw;
        }
        .rating {
          @media (max-width: 700px) {
            align-self: center;
          }
          margin: 30px auto;
          .stars {
            font-size: 35px;
            cursor: pointer;
          }
        }
        .button {
          margin: 0 auto;
          cursor: pointer;
          font-size: 22px;
          font-weight: 300;
          background-color: #f2c94c;
          padding: 5px 25px;
          border-radius: 20px 5px 20px 5px;
        }
      }
      .media {
        order: 1;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .follow{
      display: flex;
      margin: 100px auto 0px auto;
      @media (max-width:870px) {
       flex-direction: column;
      }
      .subscribe{
        position: relative;
        top: -90px;
        @media (max-width:870px) {
          top: 0;
        }
        img{
          width: 295px;
          @media (max-width:330px) {
            width: 100%;
            height: auto;
          }
        }
      }
      .socialMedia{
        align-self: center;
        margin: 0 20px;
        .items{
          display: flex;
          align-items: center;
          margin-top: 10px;
          .link{
            text-decoration: none;
            color: #000;
          }
          img{
            margin-right: 10px;
            width: 32px;
            height: 32px;
          }
        }
      }
      .followUs{
        position: relative;
        bottom: -90px;
        img{
          width: 295px;
          @media (max-width:330px) {
            width: 100%;
            height: auto;
          }
        }
        @media (max-width:870px) {
          bottom: 0;
          
        }
      }
    }
  }
}
